:root{
    --document-bg: #666;
    --bg: #fff;
    --bg2: #aaa;
    --hl: #db1e32;
    --hl-dark: #7d0f1b;
    --text: #090909;
    --text-accent: #fff;
    --shadow: #303030;
}

*{
    font-family: sans-serif;
    color: var(--text);
    font-size: 1.025em;
}

body{
    margin: 0;
}

div{
    text-align: left;
}

#root{
    text-align: center;
    background-color: var(--document-bg);
    padding: 10px;
}

#radioContainer{
    margin-bottom: 8px;
}


.mainContainer{
    display: inline-block;
}

.subContainer{
    padding: 0.75em;
    background-color: var(--bg);
    margin-bottom: 1em;
}

.autocomplete{
    display: inline-block;
    position: relative;
}

.autocompleteList{
    position: absolute;
    border: 1px solid #d4d4d4;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    outline: 0;
}

.autocompleteList div{
    background-color: var(--bg);
    cursor: pointer;
}

.autocompleteList div:hover{
    background-color: var(--hl);
}

.oddItem{
    background-color: var(--bg2);
}

.nameItem{
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
}

button{
    vertical-align: middle;
    margin: 4px;
    
    background: var(--hl);
    border: 0;
    color: var(--text-accent);
    
    transition: 0.75s;
}

button:hover{
    cursor: pointer;
    transition: 0.75s;
    color: var(--text);
}

button:active{
    color: var(--text);
    background: var(--hl-dark);
    transition: 0s;
}

button:focus {
    outline:0
}

input[type=text]{
    margin: 4px;
    vertical-align: middle;
}

input[type=text]:focus{
    outline: 0;
    box-shadow: 0 0 8px 1px var(--shadow);
}

